<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/all.min.css">
        <link rel="stylesheet" href="../css/fontawesome.min.css">
        <link rel="stylesheet" href="../css/home.css">
        <title>EMS</title>
    </head>

    <body>
        <!--Start navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="/home"><img src="../images/logo.png"
                    width="70px"
                    height="80x"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home/our-services">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/aboutUs">About EMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/ScheduleMeeting">Schedule a Meeting</a>
                    </li>
                </ul>
                <div class="getStarted">
                    <a href="/home/login">Login</a>
                    <a href="/home/signup" style="border: none;margin-right: 0;"><button class="btn my-2 my-sm-0">Get Started</button></a>
                </div>
            </div>

        </nav>
        <!--End navbar-->
        <!-- Start about -->
        <section class="about">
            <div class="row">
                <div class="left col col-12 col-md-5">
                    <h1>About Us</h1>
                    <p>EMS is a cloud-based Human Resources Management System (HRMS) that is specifically designed to serve everyone from SME to Enterprise customers .</p>
                    <p>EMS helps HR departments and employees reach a state of EMS by offering state of the art cloud-based HR software solutions that provide value across all stages of HR from the 'Acquire' stage to the 'Retire' stage.</p>
                    <br><a href="/home/scheduleMeeting" class="link">Partner With Us</a>
                </div>
                <div class="right col col-12 col-md-7">
                    <img class="img-fluid" src="../images/aboutus1.jpg" alt="">
                </div>
            </div>
        </section>
        <!-- Start our team -->
        <section class="team">
            <div class="container">
                <h1>Meet Part of the Team</h1>
                <div class="row">
                    <div class="card col-12 col-md-4" style="width: 18rem;">
                        <img class="card-img-top" src="../images/team1.jpg" alt="Card image cap" >
                        <div class="card-body">
                            <h5 class="card-title">Abdullah Almashaqbeh</h5>
                            <p class="card-text">Back End Developer.</p>
                        </div>
                    </div>
                    <div class="card col-12 col-md-4" style="width: 18rem;">
                        <img class="card-img-top" src="../images/team2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Mahmoud Odeh</h5>
                            <p class="card-text">Full stack Developer.</p>
                        </div>
                    </div>
                    <div class="card col-12 col-md-4" style="width: 18rem;">
                        <img class="card-img-top" src="../images/team3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Ghaith Al-Adwan</h5>
                            <p class="card-text">Full stack Developer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Start looking -->
        <section class="looking">
            <div class="container">
                <h1>Looking to take your HR employees to a state of EMS?</h1>
                <a href="/home/signup" class="btn1">Request a Live Demo Now</a><a href="/home/scheduleMeeting" class="btn2">Schedule a Meeting</a>
            </div>
        </section>
        
        <!-- Start Footer -->
        <section class="footer ">
            <div class="row">
                <div class="col-md-4 col-12">
                    <h5>Modules</h5>
                    <ul class="list-unstyled">
                        <a href=""><li>On-Boarding and Off-Boarding</li></a>
                        <a href=""><li>Employee Self-Service (ESS)</li></a>
                        <a href=""><li>Attendance & Time Tracking</li></a>
                        <a href=""><li>Performance and Evaluation</li></a>
                        <a href=""><li>Payroll</li></a>
                    </ul>
                </div>
                <div class="col-md-4 col-12">
                    <h5>Company</h5>
                    <ul class="list-unstyled">
                        <a href=""><li>About Us</li></a>
                        <a href=""><li>Testimonials</li></a>
                        <a href=""><li>Partner With Us</li></a>
                        <a href=""><li>Join Our Team</li></a>
                    </ul>
                </div>
                <div class="col-md-4 col-12">
                    <h5>Stay Connected</h5>
                    <ul class="list-unstyled">
                        <li>Mahmoud : +962770718344</li>
                        <li>Abdullah : +962786664731</li>
                        <li>Gaith : +962799237674</li>
                        <li>Ems@gmail.com</li>
                    </ul>
                </div>
                
            </div>
            <p style=" font-size: 10px;padding-top: 20px;">EMS © 2021 All Rights Reserved</p>
        </section>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="./js/home.js"></script>
    </body>

</html>