<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/all.min.css">
        <link rel="stylesheet" href="./css/fontawesome.min.css">
        <link rel="stylesheet" href="css/home.css">
        <title>EMS</title>
    </head>

    <body>
        <!--Start navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="/home"><img src="./images/logo.png"
                    width="70px"
                    height="80x"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="home/our-services">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="home/aboutUs">About EMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="home/scheduleMeeting">Schedule a Meeting</a>
                    </li>
                </ul>
                <div class="getStarted">
                    <a href="home/login">Login</a>
                    <a href="/home/signup" style="border: none;margin-right: 0;"><button class="btn my-2 my-sm-0" >Get Started</button></a>
                </div>
            </div>

        </nav>
        <!--End navbar-->
        <!--Start bg-->
        <div class="first-section">
            <div class="container">
                <div class="description col-md-8">
                    <h1>Technology with the power to transform HR </h1>
                    <h2>Tackling your HR needs from Acquire to Retire.</h2>
                    <br>
                    <a href="/home/signup" id="firstButton">Get Started Now</a>
                    <a href="/home/scheduleMeeting" id="secondButton">Get a Price Quote</a>
                </div>
            </div>
        </div>
        <!--End bg-->
        <!-- Start Info -->
        <div class="info">
            <div class="container">
                <h4>Reasons to invest in a cloud HR software like <span
                        class="website-color" :>EMS</span></h4>
                <div class="row">
                    <div class="card col-md-4 col-12" style="width: 18rem;">
                        <img class="card-img-top" src="./images/EMS_info_1.png"
                            alt="Card image
                            cap">
                        <div class="card-body">
                            <h5 class="card-title"><span class="website-color">53%
                                </span>increase in employee engagement</h5>
                        </div>
                    </div>
                    <div class="card col-md-4 col-12" style="width: 18rem;">
                        <img class="card-img-top" src="./images/EMS_info_2.png"
                            alt="Card image
                            cap">
                        <div class="card-body">
                            <h5 class="card-title"><span class="website-color">
                                    60% </span> increase in security and
                                compliance</h5>

                        </div>
                    </div>
                    <div class="card col-md-4 col-12" style="width: 18rem;">
                        <img class="card-img-top" src="./images/EMS_info_3.png"
                            alt="Card image
                            cap">
                        <div class="card-body">
                            <h5 class="card-title"><span class="website-color">
                                    55% </span>increase in
                                time-savings</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End info -->
        <!-- EMS-module -->
        <Section class="EMS-module">
            <div class="container">
                <div class="row">
                    <div class="list"> 
                        <ul class="list-unstyled">
                            <li id="m1">Attendance & Time Tracking</li>
                            <li id="m2">Meeting & Interviews</li>
                            <li id="m3">Employee Self-Service</li>
                            <li id="m4">Live Chat</li>
                            <li id="m5">Vaction Request</li>
                        </ul>
                    </div>
                    <div class="photo-module">
                        <div class="inner-photo">
                            <img src="./images/module3.PNG" alt="" style="width:
                                100%;" id="inner-image">
                        </div>
                    </div>
                </div>
            </div>
        </Section>
        <!-- Start our features -->
        <section class="Features">
            <div class="container">
                <h3 style="text-align: center;">Our Features</h3>
                <p style="text-align: center;" class="title">Here's a list of
                    <span class="website-color">EMS</span> features that will
                    help you streamline your HR functions:</p>
                <div class="row">
                    <div class="col-md-6 col-12 card-features">
                        <img src="./images/Features1.png" alt="">
                        <h5>Employee Dashboard and Company-Wide Calendar</h5>
                        <p><span class="website-color">EMS</span> employee
                            dashboard allows employees to view their own
                            information in an attractive, user-friendly
                            interface with real-time updates.</p>
                    </div>
                    <div class="col-md-6 col-12 card-features">
                        <img src="./images/Features2.png" alt="">
                        <h5>Time-Off Requests</h5>
                        <p>Your employees can easily login to their accounts and
                            request all kinds of vacations and leaves using
                            <span class="website-color">EMS</span> user-friendly
                            interface without the need for any paperwork.</p>
                    </div>
                    <div class="col-md-6 col-12 card-features">
                        <img src="./images/Features3.png" alt="">
                        <h5>Easy User Setup</h5>
                        <p> Admins and employees will be able to access their
                            accounts using a unique email and password. You can
                            also select the company branch(s) the user can get
                            access to, assign a role for each user and choose to
                            show or hide financial data, such as salaries and
                            employees' financial records.</p>
                    </div>
                    <div class="col-md-6 col-12 card-features">
                        <img src="./images/Features4.png" alt="">
                        <h5>HR Tasks Management</h5>
                        <p>Manager , HR admins can assign tasks to employees and
                            monitor the progress of those tasks. In addition,
                            you have the option to view pending tasks and other
                            important notifications on your HR dashboard.</p>
                    </div>
                    <div class="col-md-6 col-12 card-features">
                        <img src="./images/Features5.png" alt="">
                        <h5>Employee Directory</h5>
                        <p><span class="website-color">EMS</span> employee
                            directory will help you search for any employee in
                            your company as well as access their basic
                            information in one place.</p>
                    </div>
                    <div class="col-md-6 col-12 card-features">
                        <img src="./images/Features6.png" alt="">
                        <h5>Company Document Center</h5>
                        <p>Upload and share documents internally and set
                            specific access permissions for each one of them so
                            that employees and managers can retrieve them
                            without the need to contact the HR department.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Talking -->
        <section class="talking">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Let Our Customers Do the Talking</h2>
                        <img src="./images/talk-avatar.png" alt="">
                        <p>One of the problems that we used to face prior to
                            using EMS is poor time management for all employees.<br>
                            EMS  Now it helps to organize the company with
                            many advantages.</p>
                        <p class="bold">Manager Of Next-Two</p>
                        <a href="#">Explore More</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-love text-center">
            <h2>Our Users Love Us!</h2>
            <p>Check out our rating on:</p>
            <p>Example :</p>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <img src="./images/love1.png" alt="">
                        <p class="number">4.5 / 5</p>
                        <i class="fas fa-star orange"></i>
                        <i class="fas fa-star orange"></i>
                        <i class="fas fa-star orange"></i>
                        <i class="fas fa-star orange"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="./images/love2.png" alt="">
                        <p class="number">4 / 5</p>
                        <i class="fas fa-star orange"></i>
                        <i class="fas fa-star orange"></i>
                        <i class="fas fa-star orange"></i>
                        <i class="fas fa-star orange"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="./images/love3.png" alt="">
                        <p class="number">3.6 / 5</p>
                        <i class="fas fa-star orange"></i>
                        <i class="fas fa-star orange"></i>
                        <i class="fas fa-star orange"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start looking -->
        <section class="looking">
            <div class="container">
                <h1>Looking to take your HR employees to a state of EMS?</h1>
                <a href="/home/signup" class="btn1">Request a Live Demo Now</a><a href="/home/scheduleMeeting" class="btn2">Schedule a Meeting</a>
            </div>
        </section>
        <!-- Start Footer -->
        <section class="footer ">
            <div class="row">
                <div class="col-md-4 col-12">
                    <h5>Modules</h5>
                    <ul class="list-unstyled">
                        <a href=""><li>On-Boarding and Off-Boarding</li></a>
                        <a href=""><li>Employee Self-Service (ESS)</li></a>
                        <a href=""><li>Attendance & Time Tracking</li></a>
                        <a href=""><li>Performance and Evaluation</li></a>
                        <a href=""><li>Payroll</li></a>
                    </ul>
                </div>
                <div class="col-md-4 col-12">
                    <h5>Company</h5>
                    <ul class="list-unstyled">
                        <a href=""><li>About Us</li></a>
                        <a href=""><li>Testimonials</li></a>
                        <a href=""><li>Partner With Us</li></a>
                        <a href=""><li>Join Our Team</li></a>
                    </ul>
                </div>
                <div class="col-md-4 col-12">
                    <h5>Stay Connected</h5>
                    <ul class="list-unstyled">
                        <li>Mahmoud : +962770718344</li>
                        <li>Abdullah : +962786664731</li>
                        <li>Gaith : +962799237674</li>
                        <li>Ems@gmail.com</li>
                    </ul>
                </div>
                
            </div>
            <p style=" font-size: 10px;padding-top: 20px;">EMS © 2021 All Rights Reserved</p>
        </section>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="./js/home.js"></script>
    </body>

</html>