<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/all.min.css">
        <link rel="stylesheet" href="../css/fontawesome.min.css">
        <link rel="stylesheet" href="../css/home.css">
        <title>EMS</title>
        
    </head>

    <body>
        <!--Start navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="/home"><img src="../images/logo.png"
                    width="70px"
                    height="80x"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home/our-services">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/aboutUs">About EMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/scheduleMeeting">Schedule a Meeting</a>
                    </li>
                </ul>
                <div class="getStarted">
                    <a href="/home/login">Login</a>
                    <a href="/home/signup" style="border: none;" ><button class="btn my-2 my-sm-0">Get Started</button></a>
                </div>
            </div>
        </nav>
        <!--End navbar-->

        <!-- Start services -->
        <section class="services">
            <div class="container-fluid">
                <div class="firstServices">
                    <div class="row">
                        <div class="left col col-12 col-md-5">
                            <h1>Attendance & Time Tracking</h1>
                            <p>EMS attendance and time tracking module adds the functionality that you need to automate and manage attendance tracking. You can now get precise, real-time attendance reports in less time and with more accuracy highlighting attendance shortages and overtime</p>
                            <br><a href="/home/signup" class="link" id="firstButton">Request a Demo</a>
                        </div>
                        <div class="right col col-12 col-md-7">
                            <img class="img-fluid" src="../images/service1.PNG" alt="">
                        </div>
                    </div>
                </div>
                <div class="secondServices">
                    <div class="row">
                        <div class="left col col-12 col-md-6">
                            <img class="img-fluid" src="../images/service2.PNG" alt="">
                        </div>
                        <div class="right col col-12 col-offset-2 col-md-5">
                            <h1>The employee keeps track of his attendance</h1>
                            <p>EMS works by allowing employees of all departments to track absences, vacations and working hours,  making it easier for them to know to avoid alarms.</p>
                            <br><a href="/home/scheduleMeeting" class="link">Schedule a Meeting</a>
                        </div>
                    </div>
                </div>
                <div class="thirdServices">
                    <div class="row">
                        <div class="offset-md-1 left col col-12 col-md-5">
                            <h1>Interview & Meeting HR</h1>
                            <p>EMS allows human resources to arrange all matters related to meetings or interviews electronically <br>to contribute to saving effort and time</p>
                            <img class="img-fluid" src="../images/module2.PNG" alt="">
                        </div>
                        <div class="right col col-12 offset-md-1 col-md-5">
                            <h1>Chat Box</h1>
                            <p>EMS allows employees to communicate within the site to maintain employee privacy by not knowing <br> their mobile phone numbers or other destinations</p>
                            <img class="img-fluid" src="../images/module3.PNG" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End services -->
        <!-- Start looking -->
        <section class="looking">
            <div class="container">
                <h1>Looking to take your HR employees to a state of EMS?</h1>
                <a href="/home/signup" class="btn1">Request a Live Demo Now</a><a href="/home/scheduleMeeting" class="btn2">Schedule a Meeting</a>
            </div>
        </section>
        <!-- Start Footer -->
        <section class="footer ">
            <div class="row">
                <div class="col-md-4 col-12">
                    <h5>Modules</h5>
                    <ul class="list-unstyled">
                        <a href=""><li>On-Boarding and Off-Boarding</li></a>
                        <a href=""><li>Employee Self-Service (ESS)</li></a>
                        <a href=""><li>Attendance & Time Tracking</li></a>
                        <a href=""><li>Performance and Evaluation</li></a>
                        <a href=""><li>Payroll</li></a>
                    </ul>
                </div>
                <div class="col-md-4 col-12">
                    <h5>Company</h5>
                    <ul class="list-unstyled">
                        <a href=""><li>About Us</li></a>
                        <a href=""><li>Testimonials</li></a>
                        <a href=""><li>Partner With Us</li></a>
                        <a href=""><li>Join Our Team</li></a>
                    </ul>
                </div>
                <div class="col-md-4 col-12">
                    <h5>Stay Connected</h5>
                    <ul class="list-unstyled">
                        <li>Mahmoud : +962770718344</li>
                        <li>Abdullah : +962786664731</li>
                        <li>Gaith : +962799237674</li>
                        <li>Ems@gmail.com</li>
                    </ul>
                </div>
                
            </div>
            <p style=" font-size: 10px;padding-top: 20px;">EMS © 2021 All Rights Reserved</p>
        </section>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="./js/home.js"></script>
    </body>

</html>